<?php echo $this->doctype(); 

if(!isset($applicationTitle)){
	$config = $this->globalConfig();
	$applicationTitle = (isset($config['applicationTitle']) ? $config['applicationTitle'] : '');
}
?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate($applicationTitle))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
         <!-- Le styles -->
        <?php $headLink = $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        				->appendStylesheet($this->basePath() . '/css/cp.css'); 
        	echo $headLink;
        
        ?>

        <!-- Scripts -->
        <?php echo $this->inlineScript() ?>
        <?php 
        $headScript =  $this->headScript()/* ->appendFile($this->basePath() . '/js/jquery.min.js')
				        ->appendFile($this->basePath() . '/js/bootstrap.min.js')
                        ->appendFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',)) */;
			        
        echo $headScript;
        ?>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo $this->url('main') ?>" target="_blank"><?php echo $this->translate($applicationTitle) ?></a>
                    <div class="brand greetings-text">Hi Admin! Welcome to the <a href="<?php echo $this->url('cp') ?>">Control Panel</a></div>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
							<li class="active"><a href="<?php echo $this->url('zfcuser/logout') ?>"><?php echo $this->translate('Logout') ?></a></li>
						</ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <?php if(isset($messages) && count($messages) > 0): ?>
            	<?php foreach($messages as $v) :?>
            		<div class="alert alert-success">
            		<button type="button" class="close" data-dismiss="alert">&times;</button>
            			<?php echo $v;?>
            		</div>
            	<?php endforeach;?>
            <?php endif; ?>
            <?php 
				 echo $this->navigation('CpNavigation')->menu()
							 ->setUlClass("nav nav-pills");
			?>
			<?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2013 - <?php echo date('Y') ?> by WebDevs Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php 
        	if(isset($_GET['test'])){
        		\Custom\Utils\SitePerformanceDebugger::getInstance()->printInfo();        		
        	}
        ?>
    </body>
</html>