<h2>Control Panel - Home page</h2>

<div class="row">
    <div class="span12">
        <h3 class="stat-title">Statistics
            <small class="<? if ($selected == 1) { ?>selected<? } ?>"><a href="<?= $this->url('cp/statistic', array('range' => 1)); ?>">Today</a> / </small>
            <small class="<? if ($selected == 2) { ?>selected<? } ?>"><a href="<?= $this->url('cp/statistic', array('range' => 2)); ?>">Last week</a> / </small>
            <small class="<? if ($selected == 3) { ?>selected<? } ?>"><a href="<?= $this->url('cp/statistic', array('range' => 3)); ?>">Last month</a> / </small>
            <small class="<? if ($selected == 4) { ?>selected<? } ?>"><a href="<?= $this->url('cp/statistic', array('range' => 4)); ?>">Last year</a> / </small>
            <small class="<? if ($selected == 5) { ?>selected<? } ?>"><a href="<?= $this->url('cp/statistic', array('range' => 5)); ?>">Since launch</a></small>
        </h3>
    </div>
</div>

<? if ($selected == 1) {
    $time = "Today";
} ?>
<? if ($selected == 2) {
    $time = "Last week";
} ?>
<? if ($selected == 3) {
    $time = "Last month";
} ?>
<? if ($selected == 4) {
    $time = "Last year";
} ?>
<? if ($selected == 5) {
    $time = "All time";
} ?>


<?
if ($selected > 1) {
    $inStock = 0;
    $sold = 0;
    $wanted = 0;
    $found = 0;
    $count = 0;
    foreach($data as $d) {
        $inStock += $d->getComponentsInstock();
        $sold += $d->getComponentsSold();
        $wanted += $d->getComponentsWanted();
        $found += $d->getComponentsFound();
        $count++;
    }

//    $statistic->setComponentsInstock($inStock/$count);
//    $statistic->setComponentsSold($sold/$count);
//    $statistic->setComponentsWanted($wanted/$count);
//    $statistic->setComponentsFound($found/$count);
    if ($count) {
        $statistic->setComponentsInstock(round($inStock/$count));
        $statistic->setComponentsSold(round($sold/$count));
        $statistic->setComponentsWanted(round($wanted/$count));
        $statistic->setComponentsFound(round($found/$count));
    } else {
        $statistic->setComponentsInstock(0);
        $statistic->setComponentsSold(0);
        $statistic->setComponentsWanted(0);
        $statistic->setComponentsFound(0);
    }
}
?>
<div class="row">
    <div class="span4 thumbnail">
        <table class="statistic table">
            <tr class="head"><td colspan="2"><?=$time ?> components statistic <? if ($selected>1){?>(average)<? }?></td></tr>
            <tr><td class="count"><?= $statistic->getComponentsInstock() ?></td><td>components in stock (adverts for sale)</td></tr>
            <tr><td class="count"><?= $statistic->getComponentsSold() ?></td><td>components sold </td></tr>
            <tr><td class="count"><?= $statistic->getComponentsWanted() ?></td><td>wanted items on the post board </td></tr>
            <tr><td class="count"><?= $statistic->getComponentsFound() ?></td><td>components found </td></tr>
        </table>
    </div>
    <div class="span4 thumbnail">
        <table class="statistic table">
            <tr class="head"><td colspan="2"><?=$time ?> users statistic</td></tr>
            <tr><td class="count"><?= $statistic->getUsersVisitors() ?></td><td>visitors to the site </td></tr>
            <tr><td class="count"><?= $statistic->getUsersRegistered() ?></td><td>registered users </td></tr>
        </table>
    </div>
    <div class="span4">

    </div>
</div>

<? if ($selected != 1) { ?>
<div class="row">
	<div class="chart-line">
	    <div class="chart-cnt" id="componenets-instock"></div>
	    <div class="chart-cnt" id="componenets-sold"></div>
	    <div class="clear"></div>
	</div>
	<div class="chart-line">
	    <div class="chart-cnt" id="componenets-wanted"></div>
	    <div class="chart-cnt" id="componenets-found"></div>
	    <div class="clear"></div>
	</div>	
	<div class="chart-line">
	    <div class="chart-cnt" id="componenets-users"></div>
	    <div class="chart-cnt" id="componenets-visitors"></div>
	    <div class="clear"></div>
	</div>
    <script type="text/javascript">
    	Ext.onReady(function(){
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of components in stock (adverts for sale)',
    			renderTo: 'componenets-instock',
    			yTitle: 'Number of Componenets',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getComponentsInstock() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    		
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of Components Sold',
    			renderTo: 'componenets-sold',
    			yTitle: 'Number of Componenets',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getComponentsSold() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    		
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of wanted items on the post board',
    			renderTo: 'componenets-wanted',
    			yTitle: 'Number of Componenets',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getComponentsWanted() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    		
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of Components Found',
    			renderTo: 'componenets-found',
    			yTitle: 'Number of Componenets',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getComponentsFound() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    		
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of registered users',
    			renderTo: 'componenets-users',
    			yTitle: 'Number of Users',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getUsersRegistered() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    		
    		Ext.create("App.stats.Graphic", {
    			title: 'Number of visitors to the site',
    			renderTo: 'componenets-visitors',
    			yTitle: 'Number of Visitors',
                xTitle: "<?= $selected < 4 ? "Days" : "Months" ?>",
    			data: [
                    <? $n = 1; foreach ($data as $r) { ?>
                    {x: <?= $n++ ?>, y: <?= $r->getUsersVisitors() ?>, name: '<?= $r->getDate("d.m") ?>'},
                    <? } ?>
    			]
    		});
    	});
    </script>
	
</div>
<? } ?>