<ul class="nav nav-tabs">
    <li>
        <a href="/Cp/component">Ads</a>
    </li>
    <li class="active">
        <a href="/Cp/post">Posts</a>
    </li>
</ul>
<div id="wantedcomponents-list"></div>